/* html NOSOTROS */

.contenedorNosotros {
    @extend %flex;
    background-color: nth($coloresFondo, 1);
}

.mainNosotros {
    margin-top: 0px;

    .subtituloNosotros {
        @include mas-subtitulos;
    }

    .sectionPortada {
        .portada {
            height: 70%;
            width: 30%;
            text-align: center;

            .imgPortada {
                margin-top: 1rem;
                height: 70%;
                width: 15%;
            }
        }
    }

    .divFotos {
        text-align: center;
    }
}

.sectionNosotros {
    display: flex;
    justify-content: center;

    .divHistoriaNosotros {
        text-align: center;
        font-size: large;

        .div21,
        .div22,
        .div23,
        .div24 {
            @include parrafos-largos;
        }
    }
}